/* 
Autho : Kalab Solomon
*/

*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    float:none;
    clear:both;
}
.tbl-30{
    width: 30%;
}
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
th {
    background-color: #dddddd;
}

.btn-primary {
    background-color: #1e90ff;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.5s ease;
}
.btn-primary:hover {
  background-color: blue;
}
.btn-primaryC {
    background-color: #1e90ff;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.5s ease;
}
.btn-primaryC:hover {
  background-color: blue;
}
.btn-secondary {
    background-color: #7bed9f;
    color: black;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.5s ease;
}
.btn-secondary:hover {
  background-color: #09a738;
}
.btnO-secondary {
    background-color: #7bed9f;
    color: black;
    font-size: 14px;
    text-decoration: none;
    padding: 2.5px 5px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.5s ease;
    width: 100%;
}
.btnO-secondary:hover {
  background-color: #09a738;
}
.btn-danger {
    background-color: #ff6b81;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.5s ease;
}
.btn-danger:hover {
  background-color: #ed0322;
}

input[type="text"], input[type="password"] ,input[type="number"], textarea{
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
    font-size: 16px;
    box-shadow: 2px 2px 5px #ddd;
    transition: all 0.3s ease-in-out;
}
  
input[type="text"]:focus, input[type="password"]:focus {
    border-color: #666;
    box-shadow: 2px 2px 5px #666;
}

.success{
    color:#2ed573;
}
.error{
    color:#ff4757;
}
  


/* Menu */
.menu{
    text-align: right;
    border-bottom: 1px solid gray;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    color: #ff4757;
    text-decoration: underline;
}

/* Main Content */
.main-content{
    background-color: #f1f2f6;
    padding:3% 0;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* Footer */
.footer{
    background-color:#ff4757;
    color: white;
}

/* for login */
.login{
    border: 5px solid gray;
    width: 25%;
    margin: 10% auto;
    padding: 2%;
    border-radius: 10px;
}  
